 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root {
    --main-color: #2d2640;   
}

nav {
    max-width: 70rem;
    margin: 0 auto;
}

.nav-text {
    font-family: 'karla', sans-serif;
    font-weight: 700;
    font-size: 0.5rem;
    color: #837d86;
    letter-spacing: 1.5px;
}

li:hover {
    color: #2d2640;
}

nav{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    position: relative;
    height: 70px;
    color: black;
}

nav ul{
    display: flex;
    gap: 30px;
    align-items: center;
}

nav ul li{
    list-style-type: none;
    font-size: 0.8rem;
    cursor: pointer;
}

nav ul li a{
    text-decoration: none;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    color: #837d86;
    
}

.menu-icon{
    display: none;
}

.menu-icon i{
    color: black;
    font-size: 30px;
}

@media (max-width:768px) {
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: #2d2640;
        gap: 0;
        overflow: hidden;
        color: white;

    }
    
    ul {
        row-gap: 5px;
    }

    a {
        color: white;
    }
    nav ul li{
        padding: 20px;
        
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        transition: all 0.5s;
    }

    .btn-small {
        border: 2px solid;
        padding: 10px 20px;
        border-color: white;
        background-color: transparent;
        font-size: 0.9rem;
        font-weight: 400;
        transition: background-color 200ms ease-in-out;
        color: white;
        z-index: 10000;
        margin-bottom: 1rem;
    }
    .btn:hover {
        background-color: white;
        color: var(--main-color);
        cursor: pointer;
    }
    h4 {
        font-size: small;
    }

    .nav-text {
        font-family: 'karla', sans-serif;
        font-weight: 700;
        font-size: 0.5rem;
        color: white;
        letter-spacing: 1.5px;
    }
    .nav-tex:hover {
        font-family: 'karla', sans-serif;
        font-weight: 700;
        font-size: 0.5rem;
        color: #837d86;
        letter-spacing: 1.5px;
    }
}



button {
    border: 1px solid;
    padding: 10px 20px;
    border-color: #2d2640;
    background-color: white;
    font-size: 0.7rem;
    font-weight: bold;
    letter-spacing: 1.4px;
    transition: background-color 200ms ease-in-out;
}

button:hover {
    background-color: #2d2640;
    color: white;
    cursor: pointer;
}

.hero {
    background-color: var(--main-color);
    max-height: 60rem;
}

.container {
    max-width: 70rem;
    margin: 0 auto;
    background-color: var(--main-color);
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}

.mobile {
    display: none;
}

.hero-sec {
    background-color: var(--main-color);
}

.desktop {
    display: flex;
    flex: 1;
    order: 2;
}

.hero-btn {
    border: 2px solid;
    padding: 10px 20px;
    border-color: white;
    background-color: transparent;
    font-size: 0.7rem;
    font-weight: 400;
    transition: background-color 200ms ease-in-out;
    color: white;
    z-index: 10000;
}

.hero-btn:hover {
    background-color: white;
    color: var(--main-color);
    cursor: pointer;
}

.hero-heading {
    font-size: 4.5rem;
    line-height: 4rem;
    padding-bottom: 2rem;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
}

.hero-p {
    font-size: 1.1rem;
    line-height: 1.7rem;
    font-family: "Karla", sans-serif;
    font-weight: 400;
    padding-bottom: 1.5rem;
}

/* Basic styles for the container and its children */
.container {
    display: flex;
    flex-direction: row-reverse; /* Image first in row */
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.text {
    flex: 1;
    z-index: 10;
}

.image img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 769px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .image {
        width: 100%;
    }
    .hero-heading {
        font-size: 3rem;
        padding: 0 15px;
        font-family: "DM Serif Display", serif;
        font-weight: 400;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
    .top {
        display: none;
    }
    
    .down {
        display: none;
    }
    .mobile {
        width: 100%;
        display: block;
    }
    .container {
        padding: 0;
    }
    .hero-heading {
        text-align: center;
        padding-bottom: 1rem;
        padding-top: 90px;
    }
    .hero-p {
        text-align: center;
        padding: 0 20px;
        margin-bottom: 2rem;
    }
    .btn-mid {
        display: flex;
        align-items: center;
        margin: 0 auto;
        justify-content: center;
        padding-bottom: 90px ;
    }
    .middle {
        padding-top: 15rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .we {
        font-family: "DM Serif Display", serif;
        font-weight: 400;
        font-size: 2px;
    }
    .circle {
        display: flex;
        justify-content: center;
    }
    .flex {
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin: 5rem 0;
    }
    .flex {
        margin: 0 1.2rem;
    }
    .find-mid {
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .top-foot {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .log {
        margin: 0 auto;
        text-align: center;
    }
    .gap {
        margin-top: 2rem;
    }
    .all-links {
        flex-direction: column;
        text-align: center;
    }
    .foot-link {
        text-align: center;
    }
    .foot-hr {
        margin: 0 auto;
        max-width: 300px;
    }
    .dd {
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 140px;
        margin: 0 auto;
    }
    .foot-head{
        margin-top: 2rem;
        margin-bottom: 0.3rem;
    }

}
    .find-h {
        font-size: 4rem;
        font-family: "DM Serif Display", serif;
        font-weight: 400;
        margin-bottom: 2rem;
        margin-top: 2rem;
        color: white;
        max-width: 600px;
    }


@media (max-width: 760px) {
    .find-h {
        font-size: 2rem;
    }
}

.desktop{
    transform: translateY(4.5rem);
}

.top {
    position: absolute;
        top: 4.4rem;
        right: 0;
        z-index: 2;
}

.down {
    position: absolute;
        bottom: 0.2rem;
        left: 0;
}



.diff {
    padding-top: 10rem;
    max-width: 70rem;
    margin: 0 auto;
    color: #2b272f;
    font-size: 2rem;

}

.we {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: 3rem;
}

hr {
    width: 13rem;
    height: 1px;
    border: 0;
    border-top: 1px solid #c396c6;
}

@media (max-width: 430px) {
    hr {
    border-top: 1px solid #c396c6;
    left: 50%;
    margin: 0 auto;
    }

    .diff {
        text-align: center;
        padding-top: 0;
    }
    .flex {
        padding: 0 2rem;
    }
   
}

.line {
    margin-bottom: 2rem;
}

.icon {
    width: 5.7rem;
    height: 5.7rem;
    background-color: #97a9c6;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-h {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 1rem;
}

.flex-p {
    font-family: "karla", serif;
    font-weight: 400;
    font-size: 1rem;
    color: #837d86;
}

.box {
    max-width: 25rem;
}

.flex{
    display: flex;
    margin: 2rem 0;
    justify-content: space-between;
}

.find {
    max-width: 70rem;
    margin: 8rem auto;
    display: flex;
    background-color: var(--main-color);
}

.find-mid{
    width: 60rem;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 3.6rem 0;
    display: flex;
    flex-wrap: wrap;
}


.mar {
    margin: 0 2rem;
}

footer {
    background-color: #fafafa;
    margin: 0;
}

.foot-mid {
    z-index: 10;
    max-width: 70rem;
    margin: 0 auto;
}



footer {
    padding: 6.4rem 0 0 0;
}
.top-foot {
    display: flex;
    justify-content: space-between;
    
}

.left {
    padding-left: 1rem;
    width: 2.8rem;
    cursor: pointer;
}

.left:hover {
    color: #2d2640;
}

.foot-hr {
    width: 100%;
    margin-top: 2rem;
}

.all-links {
    font-family: 'karla', sans-serif;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;
}

.foot-head {
    font-family: 'karla', sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
    color: #837d86;
    margin-bottom: 1.5rem;
}

.foot-link {
    font-family: 'karla', sans-serif;
    font-weight: bold;
    color: #2d2640;
    cursor: pointer;
    margin-bottom: 0.6rem;
    font-size: 0.8rem;
    letter-spacing: 1.36px;
}


@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.text {
    animation: slideInFromLeft 1s ease-in-out;
}





.foot-link {
    position: relative;
    display: flex;
    cursor: pointer;
    padding-bottom: 2px; 
    color: inherit; 
    text-decoration: none;
    width: 8rem;
}


.foot-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px; 
    background-color: currentColor; 
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
}


.foot-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.how {
    width: 110px;
}

.why {
    width: 95px;
}

.view {
    width: 90px;
}

.rev {
    width: 66px;
}

.faq {
    width: 40px;
}

.terms {
    width: 107px;
}

.priv {
    width: 120px;
}

.cook {
    width: 66px;
}

.sales {
    width: 50px;
}

.sup {
    width: 66px;
}

.live {
    width: 75px;
}

.car {
    width: 66px;
}

.pre {
    width: 50px;
}

.lic {
    width: 74px;
}

